/*index*/
.mc-logo{
    width:40px;
}

.mc-usteda{
    margin-top: 10%;
}

.mc-w-90{
    width: 90%;
}

.mc-tajm{
    font-size: 60px;
    color: #E53935;
}

.mc-bg-gray1{
    background-color: #E1E1E1 !important;
}

.mc-icon-size {
    width: 60px;
    height: 60px;
}

.mc-icon-size i{
    font-size: 35px;
}

.mc-bg-black{
    background-color: black;
    
}

.mx-icon-x{
    font-size: 25px;
}

.mc-w-60{
    width: 60%;
}
.mc-margin{
    margin-top: 8%;
}
.mc-img{
    width: 100%;
}
/*Autor*/
.mc-ctt{
    margin-top: 50px;
}

.mc-ctxt{
    font-size: 25px;
}

/*kontakti*/
.mc-pom{
    height: 600px;
}
.mc-margin{
    margin-top: 9%;
}

.mc-mt{
    margin-top: 8%;
    margin-bottom: 5%;
}


/*komponente*/
.discount-price{
    font-weight: bold;
    color: #E53935;
    font-size: 20px;
}

.regular-price{
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
}

.discount{
    display: inline-block;
    background: #E53935;
    color: #ffffff;
    padding: 4px 8px;
    font-size: 15px;
    margin-top: 4px;
}

.price-old{
    margin-top: 5px;
    margin-bottom: -5px;
    text-decoration: line-through;
}

.hidden {
    display: none;
}

#noResults{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.filterSort{
    text-align: center ;
}
input[type="text"],select{
    border-radius: 8px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}


/*korpa*/

/* korpa */
body {
    overflow-x: hidden; /* uklanja horizontalni scroll */
}
.cart-div {
    position: fixed;
    top: 120px;
    right: 35px;
    z-index: 100;
}

.cart-div i {
    font-size: 25px;
    color: #6F6F6F ;
}

.cart-link {
    position: relative;  
    display: inline-block;
}

.cart-div .badge {
    position: absolute;
}

.shop-div{
    margin: 100px;
    background-color: #E1E1E1;
}